<div class="container">
  <div class="first">
    <div class="row">
      <div class="col-lg-6 header">
        <h1>Bem-vindo ao Construtor de CV</h1>
        <p>Crie seu currículo profissional de forma fácil e rápida.</p>
        <button routerLink="/new" class="btn btn-primary">
          Criar Currículo
        </button>
      </div>
      <div class="col-lg-6 cv-img">
        <img
          src="assets/images/undraw_updated_resume_re_7r9j.svg"
          class="img-fluid img-right"
          alt="Imagem de exemplo"
        />
      </div>
    </div>
  </div>

  <div class="second">
    <div class="row mt-5">
      <div class="col-12">
        <div class="card project-card">
          <img
            src="assets/images/uniateneu.png"
            class="card-img-top"
            alt="Imagem do Projeto"
          />
          <div class="card-body">
            <p class="card-text card-text-title">
              Projeto de Extensão do curso de Análise e Desenvolvimento de
              Sistemas.
            </p>
            <p class="card-text">
              Com o Construtor de CV, você pode criar seu currículo de forma
              rápida e enviá-lo por e-mail para empresas, aumentando suas
              chances de conquistar uma vaga no mercado de trabalho.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
